version: "3.8"
networks:
  redis-net:
services:
  redis:
    image: redis
    container_name: cache
    expose:
      - 6379
    networks:
      - redis-net
  rki-api:
    image: marlon360/rki-covid-server:v2
    ports:
      - "3000:3000"
    depends_on:
      - redis
      - rki-api-letsencrypt
    environment:
      - REDIS_URL=redis
    networks:
      - redis-net
  rki-api-letsencrypt:
    image: linuxserver/letsencrypt
    container_name: rki-api-letsencrypt
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./config/letsencrypt:/config
    environment:
      - EMAIL=hi.ho.locke@gmail.com
      - URL=corona-ka.de
      - SUBDOMAINS=www,api
      - VALIDATION=http
      - TZ=Europe/Stockholm
      - PUID=0
      - PGID=0
